*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORES */
/* #C0CFE0 - AZUL
   #C5C463 - NARANJA
   #F2AF3F - AMARILLO
   #FFA090 - BEIGE
   #EF5356 - ROJO  
*/

@import url(https://db.onlinewebfonts.com/c/ce0272ed48a4c133bc9a16545b0c6c74?family=Neon+80s);

body {
  font-family: "Neon 80s";
  background-color: #ffffff;
}

/* ESTILOS DE LA BARRA DE NAVEGACIÓN */
nav {
  margin-top: 20%;
  transition: 1s;
}

.sombra {
  box-shadow: 0px 11px 17px -1px rgba(0, 0, 0, 0.67);
  margin-top: 0;
  background-color: #c0cfe0;
  transition: 1s;
}

.nav-first-row .logo {
  width: 100%;
  transition: 0.8s;
  filter: invert(100%);
}

.nav-scnd-row {
  /* background-color: #C0CFE0; */
  padding: 1% 0;
}

.nav-link {
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.nav-link-logo {
  transition: 0.8s;
  width: 25%;
}

.nav-link-logo-rz {
  width: 10%;
}
.nav-first-row .svg-logo-dark {
  filter: invert(0%);
}

/* FIN DE ESTILOS DE LA BARRA DE NAVEGACIÓN */

/* ESTILOS DE LAS CARDS */
.cards {
  padding: 5% 1%;
}

.cards .responsive {
  padding: 0 6px;
  width: 25%;
}

.cards .gallery {
  border: 1px solid #ccc;
  border-radius: 8%;
  transition: 0.5s;
}

.cards .gallery:hover {
  border: 1px solid #777;
  scale: 1.04;
}

.cards .gallery img {
  width: 100%;
  height: auto;
  border-radius: 8% 8% 0 0;
}

.cards .desc {
  padding: 15px;
  text-align: center;
}

/* FIN DE LOS ESTILOS DE LAS CARDS */

/* ESTILOS DE ABOUTME */
.aboutme {
  background-color: #f6b4c2;
  padding: 8%;
}

.aboutme .profile-image{
  border-radius: 15%;
}

.aboutme p {
  font-size: 2rem;
}

/* FIN DE LOS ESTILOS DE ABOUT ME */

footer {
  padding: 5%;
  background-color: #ef5356;
}

footer a svg {
  fill: #000;
  width: 10%;
  height: 10%;
}

/* MEDIA QUERYS PARA RESPONSIVIDAD */
/* CARDS */
@media (max-width: 500px) {
  .cards .desc {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .cards .desc {
    font-size: 0.6rem;
  }
}

/* ABOUTME */
@media (max-width: 1024px) {
  .nav-first-row {
    flex-direction: row;
  }

  .nav-scnd-row {
    flex-direction: row;
  }

  .nav-scnd-row a {
    font-size: 1rem;
  }

  .aboutme p {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  footer a svg {
    width: 15%;
    height: 15%;
  }
}

@media (max-width: 768px) {
  nav {
    margin-top: 40%;
  }

  .carousel-item {
    height: 100vh;
  }

  .carousel-item img {
    height: 100vh;
  }

  .aboutme p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .aboutme p {
    font-size: 1rem;
  }

  .cards .responsive {
    padding: 0 6px;
    width: 60%;
  }
}

@media (max-width: 500px) {
  .aboutme p {
    font-size: 0.8rem;
  }

  footer a svg {
    width: 25%;
    height: 25%;
  }
}

@media (max-width: 426px) {
  nav {
    margin-top: 50%;
  }

  .nav-link-logo  {
    width: 100px;
    height: 100px;
  }
  

  .carousel-item {
    height: 100vh;
  }

  .carousel-item img {
    height: 100vh;
  }

  .aboutme p {
    font-size: 0.6rem;
  }
}
